body{
    background-color: black;
}
.losango {
    display: inline-block;
    transform: rotate(45deg); /* Rotaciona o quadrado */
    overflow: hidden; /* Corta as partes excedentes */
    width: 200px; /* Define a largura do losango */
    height: 200px; /* Deve ser igual à largura */
    border: solid 2px white;
  }
  
  .losango img {
    transform: rotate(-45deg); /* Mantém a imagem reta */
    width: 141.42%; /* Ajusta para cobrir o contêiner rotacionado */
    height: 141.42%; /* Proporcional à largura */
    position: relative;
    left: -20.71%; /* Centraliza horizontalmente */
    top: -20.71%; /* Centraliza verticalmente */
  }
  