/* ESSA PARTE AQUI COMEÇA A NOSSA NAVBAR */

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
}


a {
    text-decoration: none;
    color:#aEFF40;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;

}

.material-symbols-outlined {
    color:#aEFF40;
    font-size: 35px;
    
}

a:hover{
    opacity: 0.7;
    transform: scale(1.2);

}

ul {
    display: flex;
    list-style: none;
    gap:30px;
    align-items: center;
    letter-spacing: 2px;
    
}

ul li{
    display: inline-flex;

}

.search {
    display: flex;
    align-items: center;
    
}

.search input {
    display: inline-flex;
    padding: 7px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    width: 300px;
    
}

.search button {
    display: inline-flex;
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: -40px;
}

.codimg {
  position: absolute;
  width: 600px;
  height: 300px;
  margin: auto 60%;
  background-image: url("assets/codimg.png");
  background-color: rgba(255, 255, 255, 0.0);
  background-blend-mode: luminosity;
  background-size: cover;
  z-index: -1;
  background-position: left;
}

.binarynumber {
  position: absolute;
  width: 90%;
  height: 300vh;
  background-image: url("assets/01.png");
  background-blend-mode: overlay;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

section .dia {
  position: relative;
  z-index: 1;
}

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(to bottom, black, black, #004D00, black, black, black, black, black, black);
    color: white;
    line-height: 1.5;
}

h1, h5, h4 {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
}

/*cabeçalho*/
.projeto {
  text-align: center;
  font-size: 25px;
}

.galeria {
  word-spacing: 300px;
  text-align: center;
  font-size: 12px;
  
}
.senac {
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 5px;
  border: 0px solid;
  border-radius: 0px;
  font-size: 12px;
}

/* Estilos do cabeçalho */
header {
    text-align: center;
    padding: 11px;
    .container {
        position: relative;
      }
      
      .topleft {
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 18px;
      }
      
      img { 
        width: 150px;
        height: auto;
        opacity: 100%;
}
}


/* Seções gerais */
section {
    margin: 10px auto;
    padding: 20px;
    max-width: 1200px;
    position: relative;
}
.dia {
  display:flex;
}

.dia p{
  font-size: 19px;
}

.dia h2{
  font-size: 48px;
  font-weight: normal;
}

.margin-top-left-turma-xx {
  margin-left: 25px;
  margin-top: 65px;
}

.margin-top-left-dia-p {
  margin-left: 25px;
  margin-top: 65px;
}

.margin-top-left-projeto-xx {
  margin-left: 25px;
  margin-top: 20px;
}

.margin-top-right-dia-e {
  margin-right: 25px;
  margin-top: 65px;
}

section h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: normal;
}

section p {
    margin: 10px 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    padding: 20px;
}

.cardss p {
  margin: 10px 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  padding: 0;
}

.cardss h1 {
  text-align: center;
  font-size: 40px;
}

.dia h2 {
  padding: 20px;
}

/* Estilos das imagens */
section img {
    width: 50%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-container img {
  border-radius: 12px;
}

.dia p {
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.17);
}

/* Estilo específico para alinhar imagens */
section#turma img,
section#dia-i img,
section#dia-p img,
section#dia-e img,
section#projeto-xx img {
    float: none;
    margin: 20px auto;
    text-align: center;
}




/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 10px;
    }

    header h3, header h4 {
      font-size: 15px;
      letter-spacing: 1px;
      word-spacing: 500px;
      text-align: center;
    }

    header h5 {
      font-size: 12px;
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: lightblue;
      padding: 10px;
      border: 1px solid black;
      z-index: 1;
    }

    section h2 {
        font-size: 24px;
    }

    section p {
        font-size: 14px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
    color: #fff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .botaoprojeto {
    padding-left: 20px;
  }
  .btn {
    background-color: #AEFF40;
    border: none;
    font-size: 40px;
    padding: 10px 40px;
    font-family: "Bebas Neue";
    color: #004302;
    font-weight: normal;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .titulo {
    margin-bottom: 30px;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }


  main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 71px;
    padding: 10px;
}


.card-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card-container:hover {
    font-size: 18px;
}
.image-container {
    width: 120%;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px;
    
}
.image-container img {
    width: 100%;
    border-radius: 20;
    height: 100%;
    object-fit: cover;
}
.text-card {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: -80px;
  background-color: #161616;
  color: #ffffff;
  width: 60%;
  height: 45%;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  z-index: 2;
  letter-spacing: 0.5px;

}
.text-card h2 {
    margin: 0;
    font-size: 1.3em;
    letter-spacing: 1px;
    word-spacing: 10px;
}
.text-card p {
    margin: 5px 0;
    font-size: 1.1em;
    
}
.social-icons {
    display: flex;
}
.social-icons a {
    color: #AEFF40;
    font-size: 35px;
    margin: 0 8px;
    text-decoration: none;
}

.textofinal {
    padding: 70px;
    font-size: 14px;
}

@media (max-width: 992px) {
    .container {
    grid-template-columns: repeat(4, 1fr);
    }
    .card-container {
        width: 90%; /* Adjust as needed */
    }
    .image-container {
        height: 280px; /* Adjust as needed */
    }
}
    
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card-container {
        width: 95%; /* Adjust as needed */
    }
    .image-container {
        height: 250px; /* Adjust as needed */
    }
}
    
    @media (max-width: 480px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-container {
        width: 100%;
    }
    .image-container {
        height: 200px; /* Adjust as needed */
    }
}

  .square {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-color: #000000;
    border: 3px solid #AEFF40;
    top: 60vh; 
    left: 26vw; 
  }
  .square1 {
    position: absolute; 
    width: 2px;
    height: 170%;
    background-color: #AEFF40; 
    top: 0;
    left: 28.99vw;
  }
  
  .square2 {
    position: absolute; 
    width: 100%; 
    height: 2px; 
    background-color: #AEFF40; 
    top: calc(60vh + 3vw);
    left: 0;
  }

/* texto final */
  .textofinal {
    padding: 70px;
    font-size: 14px;
    font-family: "Bebas Neue";
}

.box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}