
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
    color: #fff; 
    font-family: 'Bebas Neue', sans-serif;
}
.square {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-color: #000000;
    border: 3px solid #AEFF40;
    top: 40vh; 
    left: 30vw; 
}
.square1 {
    position: absolute; 
    width: 2px;
    height: 100%;
    background-color: #AEFF40; 
    top: 0;
    left: 32.99vw;
}

.square2 {
    position: absolute; 
    width: 100%; 
    height: 2px; 
    background-color: #AEFF40; 
    top: calc(40vh + 3vw);
    left: 0;
}
.imgnome {
    position: absolute;
    left: 50%;
    bottom: 0; 
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    height: 200px;
    text-align: center; 
   
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.voltar {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #AEFF40;
    color: #004302;
    text-decoration: none;
    font-size: 30px;
    border-radius: 40px;
    width: 150px;
    height: 60px;
    
}
.titulodev {
    font-size: 70px;
}
.titulo-pagina {
    text-align: center;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}


.card-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.image-container {
    width: 120%;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px;
    
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-card {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: -40px;
    background-color: #161616;
    color: #ffffff;
    width: 80%;
    padding: 20px;
    text-align:center;
    border-radius: 30px;
    z-index: 2;
    letter-spacing: 0.5px;
}
.text-card h2 {
    margin: 0;
    font-size: 1.3em;
    letter-spacing: 1px;
    word-spacing: 10px;
}
.text-card p {
    margin: 5px 0;
    font-size: 1.1em;
    
}
.social-icons {
    margin-top: 10px;
}
.social-icons a {
    color: #AEFF40;
    font-size: 35px;
    margin: 0 8px;
    text-decoration: none;
}

.textofinal {
    padding: 70px;
    font-size: 14px;
}

@media (max-width: 992px) {
    .container {
    grid-template-columns: repeat(4, 1fr);
    }
    .card-container {
        width: 90%; /* Adjust as needed */
    }
    .image-container {
        height: 280px; /* Adjust as needed */
    }
}
    
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card-container {
        width: 95%; /* Adjust as needed */
    }
    .image-container {
        height: 250px; /* Adjust as needed */
    }
}
    
    @media (max-width: 480px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-container {
        width: 100%;
    }
    .image-container {
        height: 200px; /* Adjust as needed */
    }
}