@import url(reset.css);
@import url(external.css);
@import url(button.css);
@import url(input.css);
@import url(layout.css);

@import url(users/home.css);
@import url(users/turma.css);
@import url(users/footer.css);
@import url(users/mira.css);
@import url(nav.css);
@import url(users/card_desenvolvedor.css);
@import url(users/pagina_dev.css);
@import url(users/galeria-turma.css);

@import url(adm/main.css);
@import url(adm/home-adm.css);
@import url(adm/login.css);
@import url(adm/projeto.css);
@import url(adm/cadastroTurmas.css);
@import url(adm/Turmas-adm/turmas-imagem.css);
@import url(adm/sidebar.css);
@import url(adm/cadastrar-usuarios.css);

@import url(adm/lista-alunos.css);
@import url(adm/modal-cadastro.css);

:root {
    --primary-color-button: #AEFF40;
    --secondary-color-button: #9BE836;
    --boxshadow-primary-button: 0 0 10px rgba(174, 255, 64, 0.7);
    --boxshadow-secondary-button: 0 0 10px rgba(91, 91, 91, 0.7);
    --color-text-button: #004302;
    --white-background: #FFFFFF;
    --text-color-button: #000000;
    --background-nav: rgba(0, 0, 0, 0.7) /*preto com 80% de opacidade*/;
    --height-button: 3rem;
    --height-button-adm: 1.8rem;
    --height-button-phone: 2rem;
    --height-button-tablet: 2.7rem;
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Bebas Neue", sans-serif;
    --s-font: 15px;
    --m-font: 20px;
    --l-font: 30px;
    --xl-font: 40px;
    --background-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.970), rgba(0, 0, 0, 0.900), #0D9C0D, rgba(0, 0, 0, 0.930), #0D9C0D,rgba(0, 0, 0, 0.960),rgba(0, 0, 0, 0.950),rgba(0, 0, 0, 0.900));
    --card-gradient: linear-gradient(to right, #D8DBD6, #AEFF40);
    --dark-green: #0D9C0D;
    --darker-green: #073e07;
    --sidebar-gray: #363535;
    --border-gray: #c0c0c0;
    --nav-height: 50px;
    --sidebar-width: 240px;
    --default-padding: 20px;
    --text-white: #ffffff;
    --text-black: #000000;
    --accent-color: #aeff40;
    --card-border-radius: 10px;
    --default-transition: all 0.3s ease;
    --space-letters: 1.5px;
}

body{
    font-family: var(--font-primary);
}