.input-text {
    display: inline-flex;
    padding: 7px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    width: 300px;
    background-color: #d8dbd6;
    z-index: 1;
}