/* Estilo do banner */
.banner {
    background-color: #003300;/* Verde escuro para o fundo */
    padding: 20px;
    position: relative;
    /* font-family: Arial, sans-serif; Uma fonte limpa e profissional */
    width: var(--banner-width, 30%); /* Permitir alteração de largura */
    height: var(--banner-height, auto); /* Permitir alteração de altura */
    box-sizing: border-box; /* Garante que o padding seja considerado dentro das dimensões */

  }
  
  /* Estilo para "VOUCHER" */
  .voucher {
    /* font-family: 'Poppins'; */
    background-color: #ccff00; /* Verde claro para o fundo */
    color: #000000; /* Texto preto */
    font-size: 4em;
    letter-spacing: 7px;
    text-align: center;
    line-height: 1em;
    padding: 15px;
/* 
    width: calc(13em + 11px); /* Largura proporcional ao tamanho do texto "DESENVOLVEDOR" */
    margin:  auto;  */
    


    /* font-weight: bold;  */
    margin: 0; /* Removendo margem para eliminar espaço desnecessário */
  }
  
  /* Estilo para "DESENVOLVEDOR" */
  .desenvolvedor {
    font-family: 'bebas Neue', ' sans-serif';
    color: #ffffff; /* Texto branco */
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    border-top: 5px solid #ccff00; /* Borda verde clara acima */
    padding-top: 15px;
  }
  
  /* Estilo opcional para os números binários no fundo */
  .banner::before {
    /* content: "0101010101010101"; /* Pode adicionar mais números para preencher */
    /* color: #006600; Um tom mais claro de verde */
    font-size: 1.5em;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.3; /* Tornar os números discretos no fundo */
  }
  