header,
footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    height: 50px;
    position: fixed;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    padding: 0 20px;
    opacity: 85%;
    z-index: 1;

    a {
        text-decoration: none;
        color: #aEFF40;
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        display: flex;
        align-items: center;

    }

    .material-symbols-outlined {
        color: #aEFF40;
        font-size: 35px;

    }

    a:hover {
        opacity: 0.7;
        transform: scale(1.2);

    }

    ul {
        display: flex;
        list-style: none;
        gap: 30px;
        align-items: center;
        letter-spacing: 2px;
    }

    ul li {
        display: inline-flex;
    }

    .search {
        display: flex;
        align-items: center;
    }

    .search input {
        display: inline-flex;
        padding: 7px;
        border: none;
        border-radius: 10px 10px 10px 10px;
        outline: none;
        width: 300px;
    }

    .search button {
        display: inline-flex;
        padding: 5px 10px;
        border: none;
        border-radius: 0 5px 5px 0;
        background-color: #ffffff;
        cursor: pointer;
        margin-left: -40px;
    }
}

main {
    display: flex;
    flex-direction: column;
    height: 400vh;
    /* Ajuste conforme necessário */
    padding: 0px;
    margin: 0px;
}



section {
    flex: 1;
    /* Cada seção ocupa o espaço disponível */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.958), rgba(0, 0, 0, 0.875), #0D9C0D);
}

/* Estilos específicos para cada seção */
/* #secao1 {
    background: linear-gradient(to top, #0D9C0D, black);

} */

/* #secao2 {

} */

.container {

    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {

    background-color: #0d0d0d;
    border-top: 3px solid #0D9C0D;
    border-bottom: 3px solid#073e07;
    border-left: 2px solid#073e07;
    border-right: 2px solid#073e07;
    border-radius: 10px;
    max-width: 280px;
    text-align: justify;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    /* Sombra sutil */
    overflow: hidden;
    /* Esconde o texto que sai do cartão */
    transition: height 0.3s ease-in-out;
    /* Animação para expandir */
    height: 92px;
    padding: 30px;
    z-index: 1;
}

h2 {
    color: #AEFF40;
    /* Verde do título */
    margin-bottom: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 210%;
    text-align: center;
}

.card p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    /* Texto branco */
    opacity: 0;
    /* Torna o texto invisível inicialmente */
    transition: opacity 0.3s ease-in-out;
    /* Animação para visibilidade */
}

/* Ao passar o mouse sobre o cartão */
.card:hover {
    height: 400px;
    /* Expande o cartão para exibir o texto */
}

.card:hover p {
    opacity: 1;
    /* Mostra o texto */
}

.square {
    position: absolute;
    width: 4vw;
    height: 4vw;
    border: 7px solid #aeff40;
    top: 50vh;
    left: 17.8vw;
}

.square1 {
    position: absolute;
    width: 2px;
    height: 145%;
    background-color: #aeff40;
    top: 48.8px;
    left: 20vw;
    border: 2px solid #aeff40;

}

.square2 {
    position: absolute;
    width: 99.8%;
    height: 2px;
    background-color: #aeff40;
    top: calc(36vh + 9vw);
    left: 0;
    border: 2px solid #aeff40;
}


.numero {
    position: absolute;
    width: 540px;
    height: 50px;
    padding-left: 250px;
    opacity: 20%;
    top: 120px;
    overflow: visible;
}

.nome {
    position: absolute;
    width: 40%;
    top: calc(33.3vh + 6.3vw);
}


.mapa {
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: right;
    padding-top: 60px;
    opacity: 50%;
}

#secao3{
    .container2 {

        background: transparent;
        padding: 20px;
        border-bottom: 5px solid #abfa3d;
    
        h1 {
            font-family: "Bebas Neue", sans-serif;
            font-size: 2.5em;
            font-weight: normal;
            margin: 0 0 20px;
            color: #ffffff;
            padding-top: 0px;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;
        }
    
        .stats {
    
            display: flex;
            justify-content: center;
            gap: 180px;
            font-size: 2rem;
        }
    
        .stats div {
    
            text-align: center;
        }
    
        span{
            padding-left: 7px;
        }
    
        .stats div span {
            font-family: "Bebas Neue", sans-serif;
            display: block;
            font-size: 2.5em;
            font-weight: bold;
            color: #abfa3d;
            
        }
    
        .call-to-action {
            font-family: "Bebas Neue", sans-serif;
            margin-top: 20px;
            font-size: 2.5em;
            color: white;
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }
    
        .call-to-action span {
            font-family: "Bebas Neue", sans-serif;
            color: #abfa3d;
            font-weight: bold;
            cursor: pointer;
        }
    
        p {
            font-family: "Bebas Neue", sans-serif;
            font-size: 19px;
            margin: -1px;
            color: #ffffff;
            padding-left: 30px;
    
        }
    }
}


        /* ... e assim por diante */

        /* Para dispositivos móveis, ajuste o layout */
        @media (max-width: 768px) {
            section {
                height: auto;
                padding: 20px;
            }
        }
