body {
    margin: auto; /* Remove as margens padrão */
    padding: 0px;
    height: 300vh; /* Define a altura para ocupar toda a tela */
    /*background: linear-gradient(to bottom, black, #0D9C0D, black);  Gradiente de preto para verde */
    
}

.mapa{
    /*position: absolute;  Define um contêiner de referência */
    width: 100%; /* Largura do contêiner */
    height: 130vh; /* Altura total da tela */
    display: flex;
    justify-content: right;
    padding-top: 60px;
    opacity: 60%;
    
}

.linha {
    position: absolute; /* Define um contêiner de referência */
    width: 100px; /* Largura do contêiner */
    height: 200vh; /* Altura total da tela */
    display: flex;

    
    
}



 






  




.losango {
    margin-top: 1500px;
    margin-left: 80px;
    display: inline-block;
    transform: rotate(45deg); /* Rotaciona o quadrado */
    overflow: hidden; /* Corta as partes excedentes */
    width: 200px; /* Define a largura do losango */
    height: 200px; /* Deve ser igual à largura */
    border: solid 2px black;
  }
  
  .losango img {
    transform: rotate(-45deg); /* Mantém a imagem reta */
    width: 141.42%; /* Ajusta para cobrir o contêiner rotacionado */
    height: 141.42%; /* Proporcional à largura */
    position: relative;
    left: -20.71%; /* Centraliza horizontalmente */
    top: -20.71%; /* Centraliza verticalmente */
  }