@media (max-width: 1193px){
    main {
        display: flex;
        margin-left: 33%;
        margin-top: 15%;
        width: 100%;
        max-width: 400px;
        padding: 20px;
        justify-content: center;
    }

    .rodape {
        display: flex;
        justify-content: center;
        margin-top: 30%;

        color: #fafafa;
    }

    p {
        line-height: 1.9; /* Espaçamento de 1.5x o tamanho da fonte */
    } 
}

@media (max-width: 953px){
    main {
        display: flex;
        justify-content: center;
        margin-left: 28%;
        margin-top: 25%;
        width: 100%;
        max-width: 400px;
        padding: 20px;
        
    }

    .rodape {
        display: flex;
        justify-content: center;
        margin-top: 30%;
        color: #fafafa;
    }
    p {
        line-height: 1.9; /* Espaçamento de 1.5x o tamanho da fonte */
    }
}

@media (max-width: 719px){
    body {
        margin: 0;
        padding: 0;
        height:100vh;
        background-color: linear-gradient(#000000, #003100);
        background-repeat: no-repeat;
        font-family: Arial, sans-serif;
        align-items: center;
    }

    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5vh;
        margin-left: 0px;

        .logo{
            margin-left: 10px;
            width:65px;
            z-index: 2;
        }
        .input-pesquisa{
            text-align: center;
            font-size: 10px;
        }
        
        .search input {
            display: inline-flex;
            margin-left: 25px;
            padding: 3px;
            border: none;
            border-radius: 10px 10px 10px 10px;
            outline: none;
            width: 100px;
            background-color: #d8dbd6;
            z-index: 1;
        }
        a{
            font-size: 12px;
        }
        .input-search{
            display: none;
        } 

        ul {
            display: flex;
            list-style: none;
            gap:15px;
            align-items: center;
            letter-spacing: 2px;
            padding-right: 20px;
        }
        
    }

    main {
        margin-left: 0%;
        margin-top: 40%;
        width: 100%;
        max-width: 400px;
        padding: 0px;
        justify-content: center;
    }

    .rodape {
        display: flex;
        justify-content: center;
        margin-top: 60%;
        color: #fafafa;
    }
    p {
        line-height: 1.9;
        font-size: 5px;
    }
    .material-symbols-outlined {
        color:#aEFF40;
        font-size: 20px;
        padding-left: 0px;
    }

    .form-input input {
        width: 160px;
        padding: 6px;
        font-size: 12px;
        border: 1px solid #ccc;
        background-color: #d8dbd6;
        border-radius: 50px 50px 50px 50px;
        outline: none;
    }

    .form-header h1 {
        margin: 0;
        font-size: 15px;
        text-align: center;
        color:#aEFF40;
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 2px;
        margin-top: -30px;
        font-weight: normal;
       
    }
    .form-action {
        margin-top: 30px;
        text-align: center;
    }
    
    .form-action button {
        width: 30%;
        padding: 2px;
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 1px;
        font-size: 10px;
        color: #003100;
        background-color: #aEFF40;
        border: none;
        border-radius: 50px 50px 50px 50px;
        cursor: pointer;
    }
}

@media (max-width: 376px){

    body {
        margin: 0;
        padding: 0;
        height:111vh;
        background-color: linear-gradient(#000000, #003100);
        background-repeat: no-repeat;
        font-family: Arial, sans-serif;
        align-items: center;
    }

    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5vh;
        margin-left: 0px;

        .logo{
            margin-left: 10px;
            width:65px;
            z-index: 2;
        }
        .input-pesquisa{
            text-align: center;
            font-size: 10px;
        }
        
        .search input {
            display: inline-flex;
            margin-left: 25px;
            padding: 3px;
            border: none;
            border-radius: 10px 10px 10px 10px;
            outline: none;
            width: 100px;
            background-color: #d8dbd6;
            z-index: 1;
        }
        a{
            font-size: 12px;
        }
        .input-search{
            display: none;
        } 

        ul {
            display: flex;
            list-style: none;
            gap:15px;
            align-items: center;
            letter-spacing: 2px;
            padding-right: 50px;
        }
        
    }

    main {
        margin-left: 0%;
        margin-top: 40%;
        width: 100%;
        max-width: 400px;
        padding: 0px;
        justify-content: center;
    }

    .rodape {
        display: flex;
        justify-content: center;
        margin-top: 60%;
        color: #fafafa;
    }
    p {
        line-height: 1.9;
        font-size: 5px;
    }
    .material-symbols-outlined {
        color:#aEFF40;
        font-size: 20px;
        padding-left: 0px;
    }

    .form-input input {
        width: 160px;
        padding: 6px;
        font-size: 12px;
        border: 1px solid #ccc;
        background-color: #d8dbd6;
        border-radius: 50px 50px 50px 50px;
        outline: none;
    }

    .form-header h1 {
        margin: 0;
        font-size: 15px;
        text-align: center;
        color:#aEFF40;
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 2px;
        margin-top: -30px;
        font-weight: normal;
       
    }
    .form-action {
        margin-top: 30px;
        text-align: center;
    }
    
    .form-action button {
        width: 30%;
        padding: 2px;
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 1px;
        font-size: 10px;
        color: #003100;
        background-color: #aEFF40;
        border: none;
        border-radius: 50px 50px 50px 50px;
        cursor: pointer;
    }
}