* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgba(50, 50, 50, 0.8); 
  justify-content: space-between;
  display: flex;
  align-items: center;  
  height: 100px;
  width: 100%;
  padding: 0 20px;
  z-index: 1;         
  position: fixed;    
  top: 0;            
  left: 0;           
}

nav ul {
  display: flex;
}

nav ul li {
  display: inline-flex;
  align-items: center;
  width: auto;
}

nav ul li a {
  color: #ACFD3E;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  line-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-person {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto; 
}

.botao-person .material-symbols-outlined {
  font-size: 40px;
}

.sidebar {
  padding-top: 100px;
  background-color: #363535;
  color: white;
  width: 400px;
  height: 100vh;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
}

.container {
  display: flex;
  font-family: Arial, sans-serif;
}

.content {
  background-color: #f2f2f2;
  flex-grow: 1;
  margin-top: 100px;
}

@media (max-width: 1333px) and (max-height: 720px) {
  nav {
    flex-direction: column;
    align-items: center; 
    height: auto; 
  }

  nav ul {
    flex-direction: column; 
    width: 100%; 
    margin: 0;
    padding: 0;
  }

  nav ul li {
    width: 100%;
    list-style: none;
    margin: 10px 0; 
  }

  .imgvoucher {
    margin: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
  }

  .imgvoucher img {
    max-width: 80%;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%; 
    height: auto; 
  }

  .content {
    padding: 20px;
  }
}

@media (max-width: 768px) {
    nav {
      flex-direction: column; 
      align-items: flex-start; 
      height: auto; 
    }
  
    nav ul {
      flex-direction: column; 
      width: 100%; 
    }
  
    nav ul li {
      width: 100%;
    }
  
    .imgvoucher {
      margin-right: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .container {
      display: flex;
      justify-content: center; /* Centraliza horizontalmente */
      align-items: center; /* Centraliza verticalmente */
      height: 100vh; /* Ocupa a altura total da viewport */
    } */
    

    
    .tabela-turmas {
      width: 100%;
      border-collapse: collapse;
      background-color: white;
      
    }
    
  
    .sidebar {
      width: 100%;
      height: auto;
    }
  
    .content {
      padding: 20px;
      
    }

}

header ul li a {
  color: #aEFF40;
  text-decoration: none;
  font-weight: 500;
}

/* Botões e tabela */


 .nova-turma {
  background-color: #b5ff00;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 30px;

}

.pesquisar {
  float: right;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 10px 30px;
}


/* Botões de ação */

.editar {
  
  background-color: unset;
  border: none;
  cursor: pointer;
  
}

.inativar {
  
 background-color: unset;
  border: none;
  cursor: pointer;
}

.table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #B6B6B6;
  thead,th, tbody,tr,td {
      border-style: solid;
      border-width: 1;
  }

  .table-container {
    display: flex;
    justify-content: center; /* Centraliza a tabela */
    padding: 20px; /* Dá espaço da sidebar */
}

  th,td {
      border-left-width: 1px;
      padding: 0.5rem;
      text-align: center;
  }

  tbody  {
      tr{
          &:nth-child(even) {
              background-color: #c1c0c0;
          }

          &:hover {
              background-color: #d1d1d1;
          }

      }
  }

}
