* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;

  }
  
  #btn-docente, #btn-aluno {
    width: 300px;
    height: 75px;
    border-radius: 8px;
    border: 2px solid;
    background-color: #C2C2C2;
    margin-top: -200px;
  }

  /* PRA INICIAR ATIVO*/
  #btn-docente.active,
  #btn-aluno.active {
    background-color: #acfd3e; /* Cor verde */
    color: black;
    border: 2px solid;
  }

  #btn-cancelar,
  #btn-cadastro {
    background-color: #ffffff;
    color: #004302;
    border: 2px solid #000000;
    width: 150px;
    height: 50px;
    cursor: pointer;
  }

  #btn-cancelar:hover,
  #btn-cadastro:hover {
    background-color: #acfd3e;
  }


  .container-users {
    display: flex;
    font-family: Arial, sans-serif;
    
  }
  
  .container-users h1 {
    font-size: 39px;
  }


  