.card-container {
  position: relative;
  width: 100%;
  max-width: 240px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 80px;
}

.image-dev {
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  border-radius: 15px;
}

.image-dev img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-card {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #161616;
  color: #ffffff;
  width: 90%;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  z-index: 2;
  letter-spacing: 0.5px;
}

.text-card h2 {
  margin: 0;
  font-size: 1.3em;
  letter-spacing: 1px;
  word-spacing: 10px;
}

.text-card p {
  margin: 5px 0;
  font-size: 1.1em;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.social-icons a {
  color: #aeff40;
  font-size: 35px;
  margin: 0 8px;
  text-decoration: none;
}

.social-icons img{
  transition: .25s;
}

.social-icons img:hover{
  transform: scale(1.2);
}

@media (max-width: 480px) {
  .text-card{
    width: 13.5rem;
    height: 8.5rem;
  }
  .card-container{
    width: 180px;
  }
}

@media (max-width: 961px){
  .text-card{
    width: 13.2rem;
  }
}