.mira {
    position: absolute;
    width: 12vh;
    height: 12vh;
    border: 6px solid var(--accent-color);
    top: 24%;
    left: 22%;
}

.mira1 {
    position: absolute;
    width: 2px;
    min-height: calc(100vh - 48.8px);
    background-color: var(--accent-color);
    top: 48.8px;
    left: 25%;
    border: 3px solid var(--accent-color);
}

.mira2 {
    position: absolute;
    width: 99.8%;
    height: 2px;
    background-color: var(--accent-color);
    top: 30%;
    left: 0;
    border: 3px solid var(--accent-color);
}



/* Responsividade */
@media (max-width: 1024px) {
    .mira1 {
        height: calc(100vh - 20vh);
        left: 26%;
    }
    .mira2 {
        top: 30%;
    }
}

@media (max-width: 750px) {
    .mira1 {
        left: 28%;
    }
}

@media (max-width: 480px) {
    .mira1 {
        left: 30%;
    }
}

/* @media (max-width: 1033px) and (max-height: 929px) {
    .mira {
        width: 10vw;
        height: 10vw;
        top: 22vh;
        left: 20vw;
    }
    .mira1 {
        height: calc(100vh - 22vh);
        left: calc(23vw + 2vw);
    }
    .mira2 {
        top: calc(22vh + 5vw);
    }
} */