.NavInicial {
    height: var(--nav-height);
    position: fixed;
    background-color: var(--background-nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 var(--default-padding);
    z-index: 5;
    top: 0;


    a {
        text-decoration: none;
        color: var(--accent-color);
        font-family: var(--font-secondary);
        font-size: 28px;
        display: flex;
        align-items: center;

    }

    .material-symbols-outlined {
        color: var(--accent-color);
        font-size: 35px;

    }

    a:hover {
        opacity: 0.7;
        transform: scale(1.2);

    }

    ul {
        display: flex;
        list-style: none;
        gap: 30px;
        align-items: center;
        letter-spacing: 2px;
    }

    ul li {
        display: inline-flex;
    }

}

.nav-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:100%;
    width:100%;
    padding:0 var(--default-padding);
}

.hamburger{
    display:none;
    color:var(--accent-color);
    font-size:32px;
    cursor:pointer;
}

.menu-links{
    display:flex;
    gap:30px;
    align-items:center;
    list-style:none;
}

/* mobile */
@media(max-width:768px){
    .search{display:none;}
    .hamburger{display:block;}
    .menu-links{
        position:absolute;
        top:var(--nav-height);
        right:0;
        background:var(--background-nav);
        flex-direction:column;
        width:200px;
        padding:20px;
        transform:translateX(100%);
        transition:var(--default-transition);
    }
    .menu-links.open{transform:translateX(0);}
}