body {
    display: flex;
    background-color: #d6caca;
  }
  
  main.conteudo-cadastro {
    margin-left: 20px; /* largura estimada da sidebar */
    margin-top: 100px;  /* altura estimada da nav */

    margin-right: 100px;
    margin-bottom: 100px;
    /* padding: 200px; */
    width: 100%;
    min-height: calc(100vh - 100px); /* preencher o restante da altura da página abaixo da nav */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #d6caca; */
  }
  

 .form-group-imagem{

    margin-left: 500px;
    margin-right: 2px;

  }

  .form-group-polo{

    margin-left: 300px;
  }

  .form-group-buton{
    margin-left:700px ;
  }