@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.body-cadastrar-users {
  background-color: #E2E2E2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Estilo principal da área de cadastro */
main.conteudo-cadastro {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Estilização da scrollbar */

main.conteudo-cadastro::-webkit-scrollbar-track {
  background: #E2E2E2;
  border-radius: 5px;
}

main.conteudo-cadastro::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

main.conteudo-cadastro::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.form-dados {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 10px;
}

.form-top {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  gap: 15px;
  font-size: 1.2rem;
}

/* Estilos base para campos de input, select e textarea */
/* .input-adm-turmas,
select,
textarea {
  display: block;
  width: 98%;
  padding: 8px;
  margin-bottom: 30px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #e5e9e4;
  font-size: (--m-font);
  resize: vertical;
} */

#informacoes-adicionais{
  width: 100%;
}

input,
select {
  height: 3rem;
}


/* Agrupamentos */
.form-group,
.form-group-polo {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.form-group {
  flex: 3;
}

.form-group-polo {
  flex: 1;
  min-width: 200px;
  align-items: center;
  text-align: center;
}


/* Área de imagem */
.form-group-imagem {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 8px;
  align-items: center;
}

.form-group-imagem select {
  width: 95%;
}

.input-file-cadastro {
  position: relative;
  width: 300px;
  height: 394px;
  cursor: pointer;
}

.input-file-cadastro img {
  z-index: 1;
  width: 95%;
  height: 394px;
  object-fit: cover;
  border-radius: 5%;
  border: 2px solid #000000;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.input-file-cadastro img:hover {
  transform: scale(1.02);
}

/* Grupo de botão */
.form-group-buton {
  justify-content: right;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}


/* Botões de seleção */
#btn-docente,
#btn-aluno {
  width: 300px;
  height: 75px;
  border-radius: 0 0 8px 8px;
  margin: 0;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

#btn-docente {
  border-radius: 0 0 0 8px;
}

#btn-aluno {
  border-radius: 0 0 8px 0;
  border-left: none;
}

/* Estado ativo */
#btn-docente.active,
#btn-aluno.active {
  background-color: var(--primary-color-button);
  color: var(--color-text-button);
}

/* Botões de ação */
#btn-cancelar,
#btn-cadastro {
  background-color: #fff;
  color: #004302;
  border: 1px solid #000;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s ease;
}

#btn-cancelar:hover,
#btn-cadastro:hover {
  background-color: #acfd3e;
}

.user-profile {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.user-icon {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.form-container-users .form-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: #000;
}

@media (max-width: 900px) {
  main.conteudo-cadastro {
    margin: 50px 10px 0 10px;
    flex-direction: column;
  }

 

  .form-group,
  .form-group-polo {
    width: 100%;
    margin: 0;
  }

  .form-group-imagem {
    margin: 20px auto;
  }
}

/* Remover estilos antigos de input e button */
.form-group .input-text,
.form-group-polo .input-text {
  width: 100%;
}

.form-group-about .input-text {
  border-radius: 20px;
  padding: 1rem;
  resize: vertical;
  width: 100%;
  max-height: 300px;
}

.form-group input,
.form-group-polo input,
.form-group-polo select,
.form-group-about textarea {
  border: 2px solid #000000 !important;
}

.input-text {
  border: 2px solid #000000 !important;
}

#informacoes-adicionais {
  border: 2px solid #000000 !important;
}



.h1-usuario {
  font-weight: bold;
  padding-top: 40px;
  font-family: var(--font-secondary);
  font-size: 1.8rem;
}

/* Estilização do campo de busca e botão para listar os usuarios */
.search-button {    
	background: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: -15%;
	right: 14px;
	padding: 0;

}



