.PrimeiroProjeto {
    /* position: relative; */
    display: flex;      /* Torna este um contêiner flexível */
    flex-direction: row; /* Coloca a descrição e a imagem lado a lado */
    align-items: flex-start; /* Alinha o topo da descrição e da imagem */
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    right: 0;
  }

  .foto-projeto {
    width: 120px;
    height: 150px;
    border-radius: 20px;
    background-color: #e5e9e4;
    padding: 10px;
    object-fit: contain;
    border: 1px solid #333;
    flex-shrink: 0;
    position: absolute; /* Tira a imagem do fluxo normal do documento */
    left: 0;           /* Alinha a imagem à esquerda do seu contêiner pai posicionado */
    bottom: 0;             /* Alinha a imagem ao topo do seu contêiner pai posicionado */
    z-index: 1000;      /* Coloca a imagem em uma camada muito alta, garantindo que fique à frente de outros elementos. Ajuste o valor se necessário. */
  
  }