body {
    display: flex;
    
  }
  
  main.conteudo-cadastro {
    margin-left: 20px; /* largura estimada da sidebar */
    margin-top: 100px;  /* altura estimada da nav */

    margin-right: 1000px;
    margin-bottom: 1000px;
    /* padding: 200px; */
    width: 100%;
    min-height: calc(100vh - 100px); /* preencher o restante da altura da página abaixo da nav */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #f9f9f9;
  }
 