.main-turmas-turmas {
    width:200vh;
    font-family: Arial, sans-serif;
    background-color: #ccc;

    .tabs-adm-turmas {
        display: flex;
        justify-content: center;
        /* gap:rem; */
        margin-top: 3.2rem;
        margin-bottom: 0.6rem;
        display: flex;
        /* padding: 40px; */
    }

    .tab-adm-turmas {
        display: inline-flex; 
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 22.5rem;
        
        padding: 10px 20px;
        margin-right: 10px;
    
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        
        color: #000;
        background-color: #fff;
    
        border: 1px solid #000;
        border-radius: 10px;
    
        cursor: pointer;
        transition: 0.3s;
        margin:0;
    }


    .tab-adm-turmas.active{
        display: flex;
        justify-content: center; 
        align-items: center;     
        background-color: #a8ff00;
        text-align: center; 
        border-radius: 10px;
        background-color: #a8ff00;
        color: #000;
        margin:0;
      
    }

    .container-main-adm {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start;
        gap: 5rem;
        padding: 1.25rem;
        width: 150vh;
        margin: 0 auto;
        max-height: calc(90vh - 100px);
        overflow-y: auto;
        scroll-behavior: smooth;
        background-color: transparent;
        scroll-snap-type: y mandatory;
        font-family: var(--font-primary);
    }
    

    .form-section {
        width: 60%;
    }

    .form-section h1 {
        font-size: 25px;
        font-weight: bold;
        
        margin-bottom: 30px;
    }

    .input-adm-turmas[type="text"] {
        display: block;
        width: 100%;
        padding: 15px;
        margin-bottom: 30px;
        border: 1px solid #333;
        border-radius: 30px;
        background-color: #e5e9e4;
        font-size: 16px;
    }

    .profile-pic {
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5rem 2rem;
    }

    .profile-pic img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        background-color: #e5e9e4;
        padding: 40px;
        object-fit: contain;
        border: 1px solid #333;
    }
}