.main-turmas-turmas {
    width:200vh;
    font-family: Arial, sans-serif;
    background-color: #ccc;

    .tabs {
        display: flex;
        justify-content: center;
        gap:2rem;
        margin-top: 55px;
    }

    .tab {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 15px 30px;
        font-weight: bold;
        font-size: 2rem;
        border: 1px solid;
        cursor: pointer;
        transition: 0.3s;
        height: 4rem;
        width: 20rem;
        border-radius: 5px;
        text-align: center;
    }

    .tab.active{
        display: flex;
        justify-content: center; 
        align-items: center;     
        background-color: #a8ff00;
        text-align: center; 
        border-radius: 5px;    
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }

    .form-section {
        width: 60%;
    }

    .form-section h1 {
        font-size: 25px;
        font-weight: bold;
        
        margin-bottom: 30px;
    }

    input[type="text"] {
        display: block;
        width: 90%;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #333;
        border-radius: 30px;
        background-color: #e5e9e4;
        font-size: 16px;
    }

    .profile-pic {
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5rem 10rem;
    }

    .profile-pic img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        background-color: #e5e9e4;
        padding: 20px;
        object-fit: contain;
        border: 1px solid #333;
    }
}