* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #E2E2E2;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

main {
  margin: 50px 50px 100px 50px;
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
}

.topo-lista-docente {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 15px 0;
}

.container-lista-docente {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem 0rem 0rem;
}

.input-pesquisa-container {
  position: relative;
  display: inline-block;
}

.input-pesquisa-container {
  position: relative;
  display: inline-block;
}

.input-pesquisa-container input[type="text"] {
  width: 400px;
  padding: 8px 40px 8px 12px; /* espaço à direita para a imagem */
  font-size: 20px;
  background-color: #D8DBD6;
  color: #000;
  border: 1px solid #999;
  border-radius: 30px;
  outline: none;
}

.icone-lupa-img {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.6;
}

#btn-nvturma {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  width: 200px;
  height: 60px;
  color: #004302;
  background-color: #AEFF40;
  border: 3px solid #004302;
  border-radius: 30px;
}

#btn-nvturma:hover {
  background-color: #9FE83A;
}

.tabela-principal {
  width: 90%;
  max-width: 1200px;
  min-height: 100%;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0 auto;
}


#tabelaUsuarios {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
}

thead{
  position: sticky;
  top: 0;
  background-color: #B6B6B6;
  z-index: 2;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

th,
td {
  padding: 15px 18px;
  text-align: center;
}

td {
  font-size: 20px;
}

th:not(:last-child),
td:not(:last-child) {
  box-shadow: inset -1px 0 black;
}

tbody tr:nth-child(even) {
  background-color: #D1D1D1;
}

tbody tr:nth-child(odd) {
  background-color: #C1C0C0;
}

/* Scrollbar customizada apenas para navegadores Webkit */
.tabela-principal::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.tabela-principal::-webkit-scrollbar-thumb {
  background-color: #C3C3C3;
  border-radius: 6px;
}

.tabela-principal::-webkit-scrollbar-track {
  background: #999999;
}
