body {
    display: flex;
    background-color: #E2E2E2;
  }

  main {
    margin: 50px 100px 100px 20px;
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
  }
  
  .container-lista-docente {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 3rem 3rem;
  }

  input[type="text"] {
    width: 60%;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    font-size: 20px;
  }

  #btn-nvturma {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 30px;
    width: 150px;
    height: 60px;
  }

  .tabela-principal {
    width: 70%;
    height: auto;
    border-collapse: collapse;
    margin: 0 auto;
    
  }

  th, td {
    border: 1px solid #ccc;
    padding: 15px 18px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
    font-size: 25px;
    font-weight: bold;
  }

  td {
    font-size: 20px;
    
  }
  