.sidebar-adm {
  grid-area: side;
  background-color: var(--sidebar-gray);
  color: var(--text-white);
  letter-spacing: var(--espaco-letras);
  transition: all 500ms ease-in-out;
  overflow: hidden;
}

.menu-adm a {
  display: block;
  color: var(--text-white);
  text-decoration: none;
  font-size: var(--height-button-adm);
  font-family: var(--font-secondary);
  padding: 20px;
  margin-top: 0px;
  text-align: center;
  border-bottom: 1px solid var(--border-gray);
}

.menu-adm a.active {
  background-color: #555; /* Um cinza escuro para destaque */
}