/* 
.main-turmas-turmas {
    margin-top: 55px;
    width:200vh;
    font-family: Arial, sans-serif;
    background-color: #eeeeee;

    .tabs {
        display: flex;
        justify-content: center;
        gap:2rem;
        background-color: #ccc;
    }

    .tab {
        padding: 15px 30px;
        font-weight: bold;
        font-size: 2rem;
        border: 2px solid;
        cursor: pointer;
        background-color: #ccc;
        transition: 0.3s;
        height: 4rem;
        width: 20rem;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .tab.active {
        background-color: #c3ff3e;
        border-radius: 5px;
    } */
/* 
    .container {
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }

    .form-section {
        width: 60%;
    }

    .form-section h1 {
        font-size: 28px;
        font-weight: bold;
        
        margin-bottom: 30px;
    }

    input[type="text"] {
        display: block;
        width: 90%;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #000;
        border-radius: 30px;
        background-color: #e5e9e4;
        font-size: 16px;
        margin: 0px;
        font-weight: bold;
    }

    .profile-pic {
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5rem 10rem;
    }

    .profile-pic img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        background-color: #e5e9e4;
        padding: 20px;
        object-fit: contain;
        border: 1px solid #333;
    }
} */


h1 {
    font-weight: bold;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.field-group {
    background-color: #e8ece8;
    border: 2px solid black;
    /* border-radius: 20px; */
    padding: 10px;
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}


.h1-sobre {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-left: 120px;
    margin-top: 5px;
  }

  .form-container-sobre {
    width: 150vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(90vh - 100px);
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: transparent;
    scroll-snap-type: y mandatory;
  }


  .input-grupos {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-imagens > * {
    scroll-snap-align: start;
}

.container-imagens::-webkit-scrollbar {
  width: 8px;
}


.container-imagens::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.4); 
  border-radius: 4px;
}

.container-imagens::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}


  .input-group-sobre,
  .input-group-sobre-big{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
  }

  .input-field{
    border: 1px solid black;
    
  }


.input-field, .textarea-field {
  background-color: #d9ddd9;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
}

.textarea-field {
  height: 120px;
  resize: none;
  border-radius: 20px;
  width: 90%;
}

.link-projeto {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.input-projeto {
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  background-color: #cccccc;
  font-size: 18px;
  color: #333;
}

.input-projeto::placeholder {
  color: #666;
}

.btn-novos-projeto{
  display: flex;
  align-items: center;
  background-color: #b5ff22;
  border: 1px solid black;
  border-radius: 40px;
  padding: 20px 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;
  width: 250px;
  font-size: 2rem;
  color: #007b19;
}