body {
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background-color: transparent;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.field-group {
  background-color: #e8ece8;
  border: 2px solid black;
  padding: 10px;
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.h1-sobre {
  font-weight: bold;
  max-width: 1200px;
  width: 100%;
  margin: 5px 0 20px;
  padding-left: 1.25rem;
  font-family: var(--font-secondary);
  font-size: 2rem;
}

.form-container-sobre {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-height: calc(90vh - 100px);
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: transparent;
  scroll-snap-type: y mandatory;
}

.form-container-sobre::-webkit-scrollbar {
  width: 0.5rem;
}

.form-container-sobre::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.4); 
  border-radius: 0.25rem;
}

.form-container-sobre::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

.input-grupos {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-imagens > * {
  scroll-snap-align: start;
}

.input-group-sobre,
.input-group-sobre-big {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
}

.input-group-sobre-big .input-field,
.input-group-sobre-big .textarea-field {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .input-group-sobre,
  .input-group-sobre-big {
    flex: 1 1 45%;
  }
}

@media (min-width: 1200px) {
  .input-group-sobre,
  .input-group-sobre-big {
    max-width: 500px;
  }
}

.input-field {
  background-color: #d9ddd9;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
}

.textarea-field {
  background-color: #d9ddd9;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
  box-sizing: border-box;
  width: 90%;
  height: 120px;
  resize: none;
}

.link-projeto {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-projeto {
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  background-color: #cccccc;
  font-size: 18px;
  color: #333;
}

.input-projeto::placeholder {
  color: #666;
}

.btn-novos-projeto {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 250px;
  color: #007b19;
} 

.btn-imagens {
  background-color: #a8ff00;
  color: black;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
